body {
  font-family: verdana, "helvetica neue", helvetica, sans-serif;
  font-size: 10pt;
  color: #000;
  background-color: #fff;
  margin: 0;
  border-top: 12px solid #f70;
}

ol { margin: 0; padding: 0; }

#page { position: relative; min-width: 760px; max-width: 1050px; padding: 0px 36px; margin: 20px auto; }

a { color: #000; text-decoration: none; }
a:visited { color: #666; }

h1 { font-size: 2.5em; margin-bottom: 0; }

p.subhead { margin-top: 0; margin-bottom: 30px; line-height: 1.5em; }

#slidercontainer { height: 52px; font-size: 0.8em; margin: 0px 24px; padding-top: 8px }

#handle_slider { -webkit-transition: all .75s ease-in-out; }

#items { font-family: verdana, sans-serif; list-style-position: outside; }
#items li { list-style: none; width: 100%; }

#items li .container { -webkit-transition: all .75s ease-in-out; }
#items li .container.new { background-color: #fed; }
#items.animating li .container.new { background-color: white; }

.sub { font-size: 7pt; margin-bottom: 8px; }
.site { font-size: 8pt }
.sub, .sub A, .site { color: #666; }

#footer { margin-top: 1em; border-top: 2px solid #ccc; font-size: 0.9em; line-height: 1.5em; padding: 1em; }
#footer A { text-decoration: underline; }